
/* Region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(2, 48, 71);
    --geo: rgb(0, 128, 1);
    --tech: rgb(0, 0, 128);
    --cucina: rgb(128, 0, 128);
    --viaggi: rgb(243, 163, 96);
    --arte: rgb(243, 204, 1);
    --dark: rgb(0, 0, 0);
    --light: rgb(255, 255, 255);
}

body{
    background-color:var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.top_container, .container{
    min-width: 800px;
    width: 60%;
    margin: auto;
}

.top_container, .card{
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background-color: var(--light);
}

.card{
    position: relative;
}

h1{
    color: var(--light);
    text-align: center;
    font-size: 70px;
    margin: 2rem;
}

h2{
    padding-right: 3rem;
}

select{
    font-size: 24px;
    padding: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#news_saved{
    transform: scale(2);
    margin-right: 0.5rem;
}

.bookmark{
    font-size: 36px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

#author{
    font-weight: 700;
    display: block;
}

#published{
    font-size: 18px;
}

#content{
    margin: 1rem 0;
}

img{
    width: 100%;
}

button{
    font-size: 24px;
    padding: 0.75rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    border: none;
}

.btn_geo{
    background-color: var(--geo);
}

.btn_tech{
    background-color: var(--tech);
}

.btn_cucina{
    background-color: var(--cucina);
}

.btn_viaggi{
    background-color: var(--viaggi);
}

.btn_arte{
    background-color: var(--arte);
}

.empty_state{
    color:var(--light)
}

/* Region utility */

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
