
/* Region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 48, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.top_container, .container{
    min-width: 800px;
    width: 60%;
    margin: auto;
}

.top_container, .card{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
}



h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin: 2rem;
}

select{
    font-size: 24px;
    padding: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#news_saved{
    transform: scale(2);
    margin-right: 0.5rem;
}

/* Region utility */

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
